@import "../../app.scss";


.services{
    background: linear-gradient(180deg,#0c0c1d,#111132);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;

    @include desktop{
        height: auto;
    }

    .textContainer{
      flex: 1;
      align-self: flex-end;
      display: flex;
      align-items: center;
    //   margin-top: 10px;
      gap: 20px;

      @include desktop{
        align-self: center;
        text-align: center;
        flex-direction: column;
        margin-top: 2rem;
      }

      p{
        font-weight: 200;
        font-size: 20px;
        color: gray;
        text-align: right;
      }

      hr{
        width: 500px;
        border: none;
        border-top: 0.5px solid gray;

        @include mobile{
            width: 300px;
        }
      }
    }
    .titleContainer{
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include desktop{
            width: 100%;
            margin-top: 3rem;
        }
        .title{
            
            display: flex;
            align-items: center;
            gap: 50px;

            @include desktop {
                flex-direction: column;
                text-align: center;
                gap: 20px;
            }
            img{
                width: 300px;
                height: 100px;
                border-radius: 50px;
                object-fit: cover;
                @include mobile {
                  width: 200px;
                  height: 50px;
                }
            }

            h1{
                font-size: 96px;
                font-weight: 100;

                @include mobile {
                    font-size: 36px;
                }

                b:hover{
                    color: orange;
                    cursor: pointer;
                }
            }

            button{
                width: 300px;
                height: 100px;
                border-radius: 50px;
                background-color: orange;
                border: none;
                font-size: 24px;
                cursor: pointer;

                @include mobile {
                 font-size: 16px;
                 width: 150px;
                 height: 50px;
                }
            }
        }
    }

    .listContainer{
        max-width: 1366px;
        flex: 2;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
         gap: 20px;
         padding-top: 20px;
         padding-bottom: 20px;
     
   
        @include desktop {
    //    flex-direction: column;
       align-items: center;
       width: 100%;
        }

        .box{
            padding: 50px;
            // border: 0.5px solid gray;
  
            display: flex;
            width: 400px;
            gap: 10px;
            flex: 1;
            // gap: 100px;
            box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;;
      
            justify-content: space-between;
            flex-direction: column;
            @include desktop {
                  border: none; 
               
                  align-items: center;
                  gap: 30px;
                //   padding: 10px;
            }
            p{
                @include mobile {
                //    display: none;
                }
            }
            button{
                padding: 10px;
                background-color: orange;
                border: none;
                cursor: pointer;
                @include mobile {
                    background-color: transparent;
                    border: 1px solid orange;
                    border-radius: 5px;
                    color: orange;
                    width: 50%;
                    padding: 5px;
                }
            }
        }
    }
}